".source.js":
  "assert.equal":
    prefix: "assert.equal"
    body: "assert.equal(${1:actual}, ${2:expected});"
  "assert.notEqual":
    prefix: "assert.notEqual"
    body: "assert.notEqual(${1:actual}, ${2:expected});"
  "assert.deepEqual":
    prefix: "assert.deepEqual"
    body: "assert.deepEqual(${1:actual}, ${2:expected});"
  "assert.ok()":
    prefix: "assert.ok"
    body: "assert.ok(${1:actual});"
  "assert.ifError()":
    prefix: "assert.ifError"
    body: "assert.ifError(${1:actual});"
  "assert.throws()":
    prefix: "assert.throws"
    body: """
        assert.throws(
          () => {
            throw new Error('${1:error}');
          },
          Error
        );
    """
  "assert.doesNotThrow()":
    prefix: "assert.doesNotThrow"
    body: """
        assert.doesNotThrow(
          () => {
            throw new TypeError('Wrong value');
          },
          TypeError
        );
    """
  "assert.equal":
    prefix: "assert.equal"
    body: "assert.equal(${1:actual}, ${2:expected});"
