".source.js":
  "app.get()":
    "prefix": "aget"
    "body": """
    app.get('${1:path}', (req, res, next) => {
        $2;
    });
    """
  "app.post()":
    "prefix": "apos"
    "body": """
    app.post('${1:path}', (req, res, next) => {
        $2;
    });
    """
  "app.all()":
    "prefix": "aall"
    "body": """
    app.all('${1:path}', (req, res, next) => {
        $2;
    });
    """
  "app.delete()":
    "prefix": "adel"
    "body": """
    app.delete('${1:path}', (req, res, next) => {
        $2;
    });
    """
  "app.put()":
    "prefix": "aput"
    "body": """
    app.put('${1:path}', (req, res, next) => {
        $2;
    });
    """
  "req.accepts()":
    "prefix": "rqa"
    "body": """
    var ${1:body} = req.accepts("${2:name}");
    """
  "req.body":
    "prefix": "rqb"
    "body": """
    var ${1:body} = req.body;
    """
  "req.cookie":
    "prefix": "rqc"
    "body": """
    var ${1:cookie} = req.cookie;
    """
  "req.get()":
    "prefix": "rqg"
    "body": """
    var ${1:key} = req.get("${2:name}");
    """
  "req.hostname":
    "prefix": "rqh"
    "body": """
    var ${1:host} = req.hostname;
    """
  "req.ip":
    "prefix": "rqi"
    "body": """
    var ${1:ip} = req.ip;
    """
  "req.method":
    "prefix": "rqm"
    "body": """
    var ${1:method} = req.method;
    """
  "req.params":
    "prefix": "rqp"
    "body": """
    var ${1:param} = req.params;
    """
  "req.path":
    "prefix": "rqpa"
    "body": """
    var ${1:path} = req.path;
    """
  "req.protocol":
    "prefix": "rqpr"
    "body": """
    var ${1:protocol} = req.protocol;
    """
  "req.path":
    "prefix": "rqpt"
    "body": """
    var ${1:path} = req.path;
    """
  "res.append()":
    "prefix": "rsa"
    "body": """
    res.append("${1:key}","${2:value}");
    """
  "res.cookie":
    "prefix": "rsc"
    "body": """
    res.cookie("${1:key}","${2:value}");
    """
  "res.clearCookie":
    "prefix": "rscc"
    "body": """
    res.clearCookie("${1:key}","${2:path}");
    """
  "res.download":
    "prefix": "rsd"
    "body": """
    res.download("${1:key}","${2:filename}");
    """
  "res.end()":
    "prefix": "rse"
    "body": """
    res.end();
    """
  "res.get()":
    "prefix": "rsg"
    "body": """
    res.get("${1:key}");
    """
  "res.headersSent":
    "prefix": "rsh"
    "body": """
    res.headersSent;
    """
  "res.locals":
    "prefix": "rslo"
    "body": """
    res.loacals;
    """
  "res.json()":
    "prefix": "rsj"
    "body": """
    res.json(${1:value);
    """
  "res.jsonp()":
    "prefix": "rsjp"
    "body": """
    res.jsonp(${1:value});
    """
  "res.links()":
    "prefix": "rsli"
    "body": """
    res.links({
        ${1:key}):"${2:value}"
    });
    """
  "res.location(path)":
    "prefix": "rsln"
    "body": """
    res.location(${1:value});
    """
  "res.redirect(state,path)":
    "prefix": "rsrd"
    "body": """
    res.redirect(${1:state},"${2:path}");
    """
  "res.render(function)":
    "prefix": "rerf"
    "body": """
    res.render('$1', function(err, html) {
      res.send(html);
    });
    """
  "res.render()":
    "prefix": "rer"
    "body": """
    res.render('${1:file}', {
        ${2:key}:${3:value}
    });
    """
  "res.send(path)":
    "prefix": "rsln"
    "body": """
    res.send(${1:value});
    """
  "res.sendFile(path)":
    "prefix": "rsln"
    "body": """
    res.sendFile(${1:path},${2:option},(err) => {
        $3
    });
    """
  "res.sendStatus(code)":
    "prefix": "rsss"
    "body": """
    res.sendStatus(${1:value});
    """
  "res.set(header)":
    "prefix": "rset"
    "body": """
    res.set(${1:value},${2:value});
    """
