".source.js":
  "const util":
    "prefix": "ut"
    "body": "const util = require('util');"
  "util debuglog":
    "prefix": "ud"
    "body": "var debuglog = util.debuglog('${1:name}');"
  "util inherits":
    "prefix": "ui"
    "body": "util.inherits(${1:child}, ${2:parent});"
  "util inspect":
    "prefix": "uis"
    "body": "util.inspect(${1:name});"
  "util isArray":
    "prefix": "isa"
    "body": "util.isArray(${1:name});"
  "util isBoolean":
    "prefix": "isbo"
    "body": "util.isBoolean(${1:name});"
  "util isBuffer":
    "prefix": "isbu"
    "body": "util.isBuffer(${1:name});"
  "util isDate":
    "prefix": "isd"
    "body": "util.isDate(${1:name});"
  "util isError":
    "prefix": "ise"
    "body": "util.isError(${1:name});"
  "util isFunction":
    "prefix": "isf"
    "body": "util.isFunction(${1:name});"
  "util isNull":
    "prefix": "isn"
    "body": "util.isNull(${1:name});"
  "util isNumber":
    "prefix": "isnm"
    "body": "util.isNumber(${1:name});"
  "util isObject":
    "prefix": "iso"
    "body": "util.isObject(${1:name});"
  "util isRegExp":
    "prefix": "isr"
    "body": "util.isRegExp(${1:name});"
  "util isString":
    "prefix": "iss"
    "body": "util.isString(${1:name});"
  "util isSymbol":
    "prefix": "issy"
    "body": "util.isSymbol(${1:name});"
  "util isUndefined":
    "prefix": "isun"
    "body": "util.isUndefined(${1:name});"
  "util.format":
    "prefix": "format"
    "body": "util.format(${1:tpl}, ${2:val});"
