".source.js":
  "path.basename()":
    prefix: "path.basename"
    body: "path.basename('${1:pathname}')"
  "path.delimiter":
    prefix: "path.delimite"
    body: "path.delimite"
  "path.dirname()":
    prefix: "path.dirname"
    body: "path.dirname('${1:pathname}')"
  "path.extname()":
    prefix: "path.extname"
    body: "path.extname('${1:pathname}')"
  "path.format()":
    prefix: "path.format"
    body: "path.format(${1:pathname})"
  "path.isAbsolute()":
    prefix: "path.isAbsolute"
    body: "path.isAbsolute('${1:pathname}')"
  "path.join()":
    prefix: "path.join"
    body: "path.join('${1:pathname}','${2:name}')"
  "path.normalize()":
    prefix: "path.normalize"
    body: "path.normalize('${1:pathname}')"
  "path.parse()":
    prefix: "path.parse"
    body: "path.parse(${1:pathname})"
  "path.relative()":
    prefix: "path.relative"
    body: "path.relative(${1:from},${2:to})"
  "path.resolve()":
    prefix: "path.resolve"
    body: "path.resolve(${1:from}),${2:to}"
